html {
	height: 100%;
}

body {
	background-color: lightgrey;
	height: 100%;
	margin: 0;
	padding: 0;
}

.moving{
	background-color: orangered;
	height: 150px;
	position: absolute;
	width: 150px;
}

.fixed{
	position: absolute;
	height: 150px;
	width: 150px;
	background-color: maroon;
}
